<div style="border: 2px solid black;width:300px;height: 300px;padding: 10px;">
  <div style="font-weight:bolder ; font-size: 50px;">{{title}}</div>
  <br>

  <div style="font-weight:bold ;font-size: 25px;">{{subtitle}}</div>
  <br>

  <div *ngIf="!displayEdit;else elseBlock">
    <table width="200px">
      <tr>
        <td style="font-weight:bold ;">Name : </td>
        <td>{{formUser[0].name}}</td>
      </tr>
      <tr>
        <td style="font-weight:bold ;">Age :</td>
        <td>{{formUser[0].age}}</td>
      </tr>
      <tr>
        <td style="font-weight:bold ;">Favorite Color :</td>
        <td>{{formUser[0].favoriteColor}}</td>
      </tr>
    </table>


  </div>
  <ng-template #elseBlock>
    <form #editForm="ngForm" (ngSubmit)="saveChanges(editForm)">
      <table>
        <tr>
          <td><label for="name" style="font-weight:bold ;">Name:</label></td>
          <td>
            <input name="name" id="name" [(ngModel)]="formUser[0].name">
          </td>
        </tr>
        <tr>
          <td><label for="age" style="font-weight:bold ;">Age:</label></td>
          <td><input name="age" id="age" [(ngModel)]="formUser[0].age"></td>
        </tr>
        <tr>
          <td><label for="favoritecolor" style="font-weight:bold ;">Favorite Color:</label></td>
          <td><input name="favoritecolor" id="favoritecolor" [(ngModel)]="formUser[0].favoriteColor"></td>
        </tr>
      </table>




    </form>
  </ng-template>
  <br>
  <button type="submit" (click)="toggleEdit()">Toggle Edit</button>
</div>